html,
body {
  background: #282828;
  color: white;
  padding: 0;
  margin: 0;
  direction: rtl;
}
a {
  color: orange;
  font-style: italic;
  text-decoration: underline;
}
.t {
  display: flex;
}
*:focus {
  border: 2px solid black;
}

.App {
  font-family: 'Yekan-Bakh';
  text-align: center;
  display: flex;
}
