html,
body {
  background: #1C1C1E;
  color: white;
  margin: 0;
  padding: 0;
  direction: rtl;
}
a {
  color: orange;
  font-style: italic;
  text-decoration: underline;
}
.t {
  display: flex;
}
*:focus {
  border: 2px solid black;
}

.App {
  font-family: 'Yekan-Bakh';
  text-align: center;
  display: flex;
}
.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
